### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read schools_complete data
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [11]:

# Calculations
schools_count = school_data_complete['school_name'].nunique()

students_count = school_data_complete['Student ID'].nunique()

budget_sum = school_data_complete['budget'].unique().sum()

average_math_score = school_data_complete['math_score'].mean()
average_reading_score = school_data_complete['reading_score'].mean()

percent_passing_math_above_70 = len(school_data_complete[school_data_complete['math_score'] >= 70].index) / students_count * 100
percent_passing_math_above_70 = round(percent_passing_math_above_70, 2)

percent_passing_reading_above_70 = len(school_data_complete[school_data_complete['reading_score'] >= 70].index) / students_count * 100
percent_passing_reading_above_70 = round(percent_passing_reading_above_70, 2)

percent_passing_overall = len(school_data_complete[(school_data_complete['reading_score'] >= 70) & (school_data_complete['math_score'] >= 70)].index) / students_count * 100
percent_passing_overall = round(percent_passing_overall, 2)

data = {'Total Schools': [schools_count], 'Total Students': [students_count], 
        'Total Budget': [budget_sum], 'Average Math Score': [average_math_score],
       'Average English Score': [average_reading_score],
        '% Passing Math': [percent_passing_math_above_70],
        '% Passing Reading': [percent_passing_reading_above_70],
       '% Overall Passing': [percent_passing_overall]}

district_summary_df = pd.DataFrame.from_dict(data)
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average English Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,78.985371,81.87784,74.98,85.81,65.17

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [88]:
school_name_groupby = school_data_complete.groupby('school_name', as_index=False)

def unique(series):
    return(series.unique())

def passing_subject(series):
    return round((len(list(filter(lambda x: x >= 70, series))) / len(series.index) * 100), 2)

school_summary_df0 = school_name_groupby.agg({"type" : unique, "budget": "mean", "Student ID": "nunique", "math_score": "mean", "reading_score": "mean"}).rename(columns={"Student ID": "student_count"})
school_summary_df0['per_student_budget'] = school_summary_df0['budget'] / school_summary_df0['student_count']
school_summary_df1 = school_name_groupby.agg({"math_score": passing_subject, "reading_score": passing_subject}).rename(columns={"math_score": "%passing_math", "reading_score": "%passing_reading"})
school_summary_df1['%passing_overall'] = (school_summary_df1['%passing_math'] * school_summary_df1['%passing_reading'] / 100).round(2)

del school_summary_df1['school_name']
school_summary_df = pd.concat([school_summary_df0, school_summary_df1], axis=1)
school_summary_df = school_summary_df.reset_index(drop=True)
school_summary_df

,school_name,type,budget,student_count,math_score,reading_score,per_student_budget,%passing_math,%passing_reading,%passing_overall
0,Bailey High School,District,3124928,4976,77.048432,81.033963,628.0,66.68,81.93,54.63
1,Cabrera High School,Charter,1081356,1858,83.061895,83.975780,582.0,94.13,97.04,91.34
2,Figueroa High School,District,1884411,2949,76.711767,81.158020,639.0,65.99,80.74,53.28
3,Ford High School,District,1763916,2739,77.102592,80.746258,644.0,68.31,79.30,54.17
4,Griffin High School,Charter,917500,1468,83.351499,83.816757,625.0,93.39,97.14,90.72
5,Hernandez High School,District,3022020,4635,77.289752,80.934412,652.0,66.75,80.86,53.97
6,Holden High School,Charter,248087,427,83.803279,83.814988,581.0,92.51,96.25,89.04
7,Huang High School,District,1910635,2917,76.629414,81.182722,655.0,65.68,81.32,53.41
8,Johnson High School,District,3094650,4761,77.072464,80.966394,650.0,66.06,81.22,53.65
9,Pena High School,Charter,585858,962,83.839917,84.044699,609.0,94.59,95.95,90.76
10,Rodriguez High School,District,2547363,3999,76.842711,80.744686,637.0,66.37,80.22,53.24
11,Shelton High School,Charter,1056600,1761,83.359455,83.725724,600.0,93.87,95.85,89.97
12,Thomas High School,Charter,1043130,1635,83.418349,83.848930,638.0,93.27,97.31,90.76
13,Wilson High School,Charter,1319574,2283,83.274201,83.989488,578.0,93.87,96.54,90.62
14,Wright High School,Charter,1049400,1800,83.682222,83.955000,583.0,93.33,96.61,90.17

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

In [85]:
top_performing = school_summary_df.sort_values(by='%passing_overall', ascending=False).head()
top_performing

,school_name,type,budget,student_count,math_score,reading_score,per_student_budget,%passing_math,%passing_reading,%passing_overall
1,Cabrera High School,Charter,1081356,1858,83.061895,83.975780,582.0,94.13,97.04,91.34
9,Pena High School,Charter,585858,962,83.839917,84.044699,609.0,94.59,95.95,90.76
12,Thomas High School,Charter,1043130,1635,83.418349,83.848930,638.0,93.27,97.31,90.76
4,Griffin High School,Charter,917500,1468,83.351499,83.816757,625.0,93.39,97.14,90.72
13,Wilson High School,Charter,1319574,2283,83.274201,83.989488,578.0,93.87,96.54,90.62

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

In [86]:
bottom_performing = school_summary_df.sort_values(by='%passing_overall', ascending=True).head()
bottom_performing

,school_name,type,budget,student_count,math_score,reading_score,per_student_budget,%passing_math,%passing_reading,%passing_overall
10,Rodriguez High School,District,2547363,3999,76.842711,80.744686,637.0,66.37,80.22,53.24
2,Figueroa High School,District,1884411,2949,76.711767,81.158020,639.0,65.99,80.74,53.28
7,Huang High School,District,1910635,2917,76.629414,81.182722,655.0,65.68,81.32,53.41
8,Johnson High School,District,3094650,4761,77.072464,80.966394,650.0,66.06,81.22,53.65
5,Hernandez High School,District,3022020,4635,77.289752,80.934412,652.0,66.75,80.86,53.97

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

## Scores by School Size

* Perform the same operations as above, based on school size.

## Scores by School Type

* Perform the same operations as above, based on school type