### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load
file_to_load = "Resources/purchase_data.csv"

# Read purchase_data
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [2]:
# Can do any of these 3
total_purchases = purchase_data['Purchase ID'].count()
total_purchases = purchase_data.shape[0]
total_purchases = len(purchase_data.index) # This is fastest
total_purchases

780

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
# Get explicit data
price_series = purchase_data['Price']
item_name_series= purchase_data['Item Name']

# Calculations
purchasing_analysis_total_revenue = price_series.sum()
purchasing_analysis_average_price = round(price_series.mean(), 2)
purchasing_analysis_num_of_unique = item_name_series.nunique()

# Create DF
data = {
    'Total Revenue': [purchasing_analysis_total_revenue], 
    'Average Price': [purchasing_analysis_average_price], 
    'Number of Unique Items': [purchasing_analysis_num_of_unique], 
    'Total Purchases': [total_purchases]}
purchasing_analysis_summary = pd.DataFrame.from_dict(data)
purchasing_analysis_summary

   Total Revenue  Average Price  Number of Unique Items  Total Purchases
0        2379.77           3.05                     179              780

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
# Get Gender groupby
purchase_data_gender_groupby = purchase_data.groupby(by=['Gender'])

# Calculcations
gender_demographics_count = purchase_data_gender_groupby.size()
gender_demographics_percentage = purchase_data_gender_groupby.size() / purchase_data_gender_groupby.size().sum() * 100

# Create DF
data = {'Purchase Count': gender_demographics_count, 'Percentage': gender_demographics_percentage}
gender_demographics_df = pd.DataFrame.from_dict(data)
gender_demographics_df

                       Purchase Count  Percentage
Gender
Female                            113   14.487179
Male                              652   83.589744
Other / Non-Disclosed              15    1.923077


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
# Calculations on purchase data grouped by gender | .agg method is the best way to go with group by objects
# .agg returns DF so used squeeze method to convert into series (easier for other calculations like average_total_purchase_per_person)
purchasing_analysis_genders_count = purchase_data_gender_groupby.agg({"SN" : "nunique"}).squeeze() # Get gender count in terms of unique SNs
purchasing_analysis_genders_purchase_count = purchase_data_gender_groupby.agg({"Purchase ID" : "count"}).squeeze() # Get purchase count by counting Purchase ID column
purchasing_analysis_genders_average_price = round(purchase_data_gender_groupby.agg({"Price" : "mean"}), 2).squeeze() # Get mean of values in price column
purchasing_analysis_genders_purchase_total = purchase_data_gender_groupby.agg({"Price" : "sum"}).squeeze() # Get sum of values in price column
purchasing_analysis_genders_average_total_purchase_per_person = round(purchasing_analysis_genders_purchase_total / purchasing_analysis_genders_count, 2)

# Two methods of creating new DF:
# 1. Build off of purchase_data_genders_basic
purchasing_analysis_genders_df = gender_demographics_df.copy()
purchasing_analysis_genders_df['Gender Count'] = purchasing_analysis_genders_count
purchasing_analysis_genders_df['Purchase Count'] = purchasing_analysis_genders_purchase_count
purchasing_analysis_genders_df['Average Price'] = purchasing_analysis_genders_average_price
purchasing_analysis_genders_df['Purchase Total'] = purchasing_analysis_genders_purchase_total
purchasing_analysis_genders_df['Avg Total Purchase per Person'] = purchasing_analysis_genders_average_total_purchase_per_person
del purchasing_analysis_genders_df['Percentage']

# 2. Concatenated values as new DF
purchasing_analysis_genders_df = pd.concat(
    [
        purchasing_analysis_genders_count,
        purchasing_analysis_genders_purchase_count,
        purchasing_analysis_genders_average_price,
        purchasing_analysis_genders_purchase_total,
        purchasing_analysis_genders_average_total_purchase_per_person
    ], axis=1)
purchasing_analysis_genders_df.columns = ['Gender Count', 'Purchase Count', 'Average Price', 'Purchase Total', 'Avg Total Purchase per Person']
purchasing_analysis_genders_df

,Gender Count,Purchase Count,Average Price,Purchase Total,Avg Total Purchase per Person
Gender,,,,,
Female,81,113,3.20,361.94,4.47
Male,484,652,3.02,1967.64,4.07
Other / Non-Disclosed,11,15,3.35,50.19,4.56

In [6]:
## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [7]:
# Create bins
age_group_bins = [0, 9, 14, 19, 24, 29, 34, 39, 200]
# Create labels
age_group_labels = ["< 10","10 - 14", "15 - 19", "20 - 24", "25 - 29", "30 - 34", "35 - 39", ">= 40"]
# Add to orginal DF
purchase_data["Age Group"] = pd.cut(purchase_data["Age"], age_group_bins, labels=age_group_labels)

# Get Age Group groupby 
purchase_data_age_groupby = purchase_data.groupby('Age Group')

# Calculations
age_demographics_count = purchase_data_age_groupby.size()
age_demographics_percentage = round(purchase_data_age_groupby.size() / purchase_data_age_groupby.size().sum() * 100, 2)

# Create DF
data = {'Count': age_demographics_count, 'Percentage': age_demographics_percentage}
age_demographics_df = pd.DataFrame(data)
age_demographics_df

           Count  Percentage
Age Group
< 10          23        2.95
10 - 14       28        3.59
15 - 19      136       17.44
20 - 24      365       46.79
25 - 29      101       12.95
30 - 34       73        9.36
35 - 39       41        5.26
>= 40         13        1.67

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [9]:
# Calculations
purchasing_analysis_age_purchase_count = purchase_data_age_groupby.agg({"Purchase ID" : "count"}).squeeze()
purchasing_analysis_age_average_price = round(purchase_data_age_groupby.agg({"Price" : "mean"}), 2).squeeze()
purchasing_analysis_age_purchase_total = purchase_data_age_groupby.agg({"Price" : "sum"}).squeeze()
purchasing_analysis_age_average_total_purchase_per_person = round(purchasing_analysis_age_purchase_total / purchasing_analysis_age_purchase_count, 2)

# Create DF
purchasing_analysis_age_df = pd.concat([purchasing_analysis_age_purchase_count, purchasing_analysis_age_average_price, purchasing_analysis_age_purchase_total, purchasing_analysis_age_average_total_purchase_per_person], axis=1)
purchasing_analysis_age_df.columns = ['Purchase Count', 'Average Price', 'Purchase Total', 'Avg Total Purchase per Person']
purchasing_analysis_age_df

,Purchase Count,Average Price,Purchase Total,Avg Total Purchase per Person
Age Group,,,,
< 10,23,3.35,77.13,3.35
10 - 14,28,2.96,82.78,2.96
15 - 19,136,3.04,412.89,3.04
20 - 24,365,3.05,1114.06,3.05
25 - 29,101,2.90,293.00,2.90
30 - 34,73,2.93,214.00,2.93
35 - 39,41,3.60,147.67,3.60
>= 40,13,2.94,38.24,2.94

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [10]:
# Get SN groupby
purchase_data_sn_groupby = purchase_data.groupby('SN')

# Calculations
top_spenders_purchase_count = purchase_data_sn_groupby.agg({"Purchase ID" : "count"}).squeeze() # Get purchase count by counting Purchase ID column
top_spenders_average_price = round(purchase_data_sn_groupby.agg({"Price" : "mean"}), 2).squeeze() # Get mean of values in price column
top_spenders_purchase_total = purchase_data_sn_groupby.agg({"Price" : "sum"}).squeeze()

# Create DF
top_spenders_df = pd.concat([top_spenders_purchase_count, top_spenders_average_price, top_spenders_purchase_total], axis=1)
top_spenders_df.columns = ['Purchase Count', 'Average Price', 'Purchase Total']
top_spenders_df = top_spenders_df.sort_values(by='Purchase Total', ascending=False).head()
top_spenders_df

             Purchase Count  Average Price  Purchase Total
SN
Lisosia93                 5           3.79           18.96
Idastidru52               4           3.86           15.45
Chamjask73                3           4.61           13.83
Iral74                    4           3.40           13.62
Iskadarya95               3           4.37           13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [11]:
# Get Item groupby
purchase_data_item_groupby = purchase_data.groupby(['Item ID', 'Item Name'])

# Calculations
most_popular_items_count = purchase_data_item_groupby.agg({"Purchase ID" : "count"}).squeeze()
most_popular_items_price = round(purchase_data_item_groupby['Price'].mean(), 2)
# ^^^ Most prices are consistant but a few may not be (Crucifer for example has inconsistant prices [1.99, 3.26, 3.26, 3.26]),
# so I decided to calculate average price ^^^
most_popular_items_total = purchase_data_item_groupby.agg({"Price" : "sum"}).squeeze()

# Create DF
most_popular_items_df = pd.concat([most_popular_items_count, most_popular_items_price, most_popular_items_total], axis=1)
most_popular_items_df.columns = ['Purchase Count', 'Average Price', 'Purchase Total']
most_popular_items_df.sort_values(by='Purchase Count', ascending=False).head()

,,Purchase Count,Average Price,Purchase Total
Item ID,Item Name,,,
92,Final Critic,13,4.61,59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
145,Fiery Glass Crusader,9,4.58,41.22
132,Persuasion,9,3.22,28.99
108,"Extraction, Quickblade Of Trembling Hands",9,3.53,31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [12]:
most_profitable_items_df = most_popular_items_df.sort_values(by='Purchase Total', ascending=False).head()
most_profitable_items_df

,,Purchase Count,Average Price,Purchase Total
Item ID,Item Name,,,
92,Final Critic,13,4.61,59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
82,Nirvana,9,4.90,44.10
145,Fiery Glass Crusader,9,4.58,41.22
103,Singed Scalpel,8,4.35,34.80